<?xml version="1.0" ?>
<robot name="my_object" static="true">

  <material name="beer_color">
    <color rgba="0.8 0.85 0.8 1.0"/>
  </material>
  <material name="grasp_color">
    <color rgba="0.9 0.1 0.1 1.0"/>
  </material>


  <link name="base_link">
  <inertial>
    <mass value="0.370" />
    <origin xyz="0 0 0.0" />
    <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
  </inertial>
  <visual>
   <origin xyz="0 0 0.0" rpy="0 0 0" />
   <geometry>
     <mesh filename="beer_rothaus.dae"/>
   </geometry>
   <material name="beer_color"/>
  </visual>
  <collision>
   <origin xyz="0 0 0.115" rpy="0 0 0" />
   <geometry>
     <box size="0.055 0.055 0.23" />
   </geometry>
  </collision>
  </link>


  <link name="grasp_loc">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.125"/>
      <geometry>
        <sphere radius="0.035"/>
      </geometry>
      <material name="grasp_color"/>
    </visual>

  </link>
  <joint name="grasp_loc_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>

    <parent link="base_link"/>
    <child link="grasp_loc"/>
  </joint>


<gazebo>
	<static>true</static>
</gazebo>
</robot>
